{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>

    {{- if .Params.tags -}}
      <div class="post-meta">
        {{ with .Params.date }}
          <time datetime="{{ $.Date }}">{{ $.Date.Format "2006-01-02" }}</time>
        {{ end }}
        <span class="post-tags-inline">
          ·
          {{ range $i, $t := .Params.tags }}
            {{ if $i }}, {{ end }}
            <a href="{{ printf "/tags/%s/" ($t | urlize) | relURL }}">#{{ $t }}</a>
          {{ end }}
        </span>
      </div>
    {{- else -}}
      <div class="post-meta">
        {{ with .Params.date }}
          <time datetime="{{ $.Date }}">{{ $.Date.Format "2006-01-02" }}</time>
        {{ end }}
      </div>
    {{- end -}}

    {{/* 右侧小封面：优先用 cover.image，其次用 hero/自定义字段 */}}
    {{ $img := "" }}
    {{ with .Params.cover }}
      {{ with .image }}{{ $img = . }}{{ end }}
    {{ end }}
    {{ with .Params.featured }}
      {{ $img = . }}
    {{ end }}

    {{ if $img }}
      <div class="right-cover">
        <img src="{{ $img | relURL }}" alt="cover" />
      </div>
    {{ end }}
  </header>

  {{/* TOC 逻辑：页面明确 toc:true 才显示；page(比如 about) 默认不跟随全站 showtoc */}}
  {{ if eq .Params.toc true }}
    {{ partial "toc.html" . }}
  {{ else if and (ne .Params.toc false) site.Params.showtoc (ne .Type "page") }}
    {{ partial "toc.html" . }}
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
